@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Lato:wght@100;300;400;700;900&display=swap");
@import "styles/theme/colors.theme.scss";
@import "styles/mixin/layout.mixin.scss";

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  @include layoutGrid;
  color: IPGColors($font-black);
  background: IPGColors($body-white);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}
