@import "styles/mixin/layout.mixin.scss";
@import "styles/theme/colors.theme.scss";
@import "styles/theme/typography.theme.scss";

.article {
  .contentNotices {
    overflow: auto;
    width: 1207px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 35px;
  }
}
